.App {
  background-color:#002244   ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 25%;
  height: 90vh;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  color: #B9D9EB;
  border-radius: 1rem;
  font-family: Montserrat;
}

.header p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  user-select: none;
  
}

.form-wrapper {
  width: 90%;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
  font-family: Montserrat;

}

.form-wrapper form {
  display: flex;
  flex-direction: row;

}

.form-wrapper input {
  width: 80%;
  padding: 0.4rem;
  color: #B9D9EB;
  border: none;
  flex-grow: 2;
  background-color: inherit;
 
}

input:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
 

.form-wrapper button {
  cursor: pointer;
  appearance: button;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
  height: 30px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  touch-action: manipulation;
  margin-left: 0.3rem;
}

.form-wrapper form button:hover {
  scale: 1.1;
}

.date {
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  user-select: none;
  
}

.data-container {

  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  user-select: none;

}

.first-row {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #B9D9EB;
  user-select: none;
  font-family: "Heebo", sans-serif;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

}

.second-row {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #B9D9EB;
  user-select: none;
  font-family: "Heebo", sans-serif;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

}

.degrees-container {
  width: 100%;
  user-select: none;

}

.degrees {
  font-size: 6rem;
  font-weight: bold;
  padding: 0.3rem;
  width: 80%;
  user-select: none;
  display:flex;
  justify-content: center;
  align-items: center;
  
margin:0 auto;
}

.degrees p {
  margin: 0;
  user-select: none;
  padding:0;
}

.city {
  text-align: center;
  margin: 0.5rem 0;
  width: 100%;
  font-size: 1.4rem;
  user-select: none;
}

.city p {
  margin: 0;
}

.short-desc {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
 
}

.wind {
  font-weight: 500;
  text-align: center;
  width: 50%;
  padding: 1rem;
 
  user-select: none;
  background-color: inherit;
  color: inherit;
  
}



.pressure {
  font-weight: 500;
  text-align: center;
  width: 50%;
  padding: 1rem;
 
  user-select: none;
  background-color: inherit;
 
}

.visibility {
  font-weight: 500;
  width: 50%;
  text-align: center;
  padding: 1rem;
 
  user-select: none;
  background-color: inherit;
  
}

.humidity {
  font-weight: 500;
  width: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  user-select: none;
  background-color: inherit;
 
  
}



.feels-like {
  text-align: center;
  user-select: none;
  position: relative;
}
.feels-like:after{
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -2.5rem;
  height: 1px;
  background-color: #fff;
  opacity: 0.1;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000000;
  text-align: center;
  opacity: 50%;
  user-select: none;
}
@media only screen and (max-width:960px) {
  .App {
    margin: auto;

    border-right: none;
    border-left: none;
    width: 90%;

  }


}

